:root {
    --primary-color: #ff612f;
    --font-color: #bfbfbf;  
  }
  
  /* Overall Container */
  .more-properties-by-same-seller {
    padding: 3rem 4rem;
    color: var(--font-color);
    width: 100%;
    margin: auto;
  }
  
  /* Seller Info Section */
  .seller-info {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 3rem 0;
    padding: 20px;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 100%;
    flex-wrap: wrap;
  }

  .seller-details2>h1{
    text-transform:capitalize;
  }
  
  .seller-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
    cursor:pointer;
  }
  
  .seller-details2 p {
    margin: 5px 0;
    font-size: 16px;
    color: var(--font-color);
  }
  
  .seller-details2 p strong {
    color: var(--primary-color);
  }
  
  .properties-list{
    width: 100%;
    padding: 1rem 0;
  }

  .properties-grid{
    display: flex;
    width: 100%;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 2.2rem;
  }

  .go-back-button {
    background-color: var(--primary-color);
    color: white;
    padding: 4px 26px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius:4px;
  }
  

@media (max-width: 600px) {
  .more-properties-by-same-seller {
    padding: 1.5rem;
  }

  .seller-info {
    gap: 1.2rem;
    padding: 12px;
  }

  .seller-image {
    width: 75px;
    height: 75px;
  }

  .seller-details2 p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .seller-details2>h1{
    font-size: 1.5rem;
  }

  .properties-grid {
    flex-direction: column;
    gap: 1rem;
  }

  .properties-list {
    padding: 0.5rem 0;
    margin: 0 !important;
  }

  .go-back-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
